apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: '{{ include "project.name" . }}'
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    helm.sh/chart: '{{ include "project.chart" . }}'
  name: '{{ template "project.fullname" . }}-webhook-service'
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: webhook-server
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/name: '{{ include "project.name" . }}'
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: '{{ template "project.namespacedname" . }}-serving-cert'
  labels:
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: '{{ include "project.name" . }}'
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    helm.sh/chart: '{{ include "project.chart" . }}'
  name: '{{ template "project.fullname" . }}-validating-webhook-configuration'
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ template "project.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /validate-dkim-manager-atelierhsn-com-v2-dkimkey
  failurePolicy: Fail
  matchPolicy: Equivalent
  name: vdkimkey.kb.io
  rules:
  - apiGroups:
    - dkim-manager.atelierhsn.com
    apiVersions:
    - v2
    operations:
    - UPDATE
    resources:
    - dkimkeys
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ template "project.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /validate-externaldns-k8s-io-v1alpha1-dnsendpoint
  failurePolicy: Fail
  name: vdnsendpoint.kb.io
  rules:
  - apiGroups:
    - externaldns.k8s.io
    apiVersions:
    - v1alpha1
    operations:
    - DELETE
    resources:
    - dnsendpoints
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ template "project.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /validate-secret
  failurePolicy: Fail
  name: vsecret.kb.io
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - DELETE
    resources:
    - secrets
  sideEffects: None
