name: Release Helm chart
on:
  push:
    branches:
      - master
    paths:
      - 'charts/dkim-manager/Chart.yaml'
permissions:
  contents: write
jobs:
  release:
    uses: hsn723/actions/.github/workflows/helm-release.yml@v1
    secrets: inherit
    with:
      extra_helm_setup: |
        helm repo add external-dns https://kubernetes-sigs.github.io/external-dns
        helm repo update
