name: main
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*'
env:
  go-version: stable
permissions:
  contents: read
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.go-version }}
      - name: Test
        run: make build
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.go-version }}
      - name: Lint
        run: make lint
  check-goreleaser-config:
    name: Check goreleaser.yml
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.go-version }}
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: check -f .goreleaser.yml
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.go-version }}
      - name: Test
        run: make test
  get-k8s-versions:
    runs-on: ubuntu-latest
    outputs:
      k8s-versions: ${{ steps.get-k8s-version.outputs.versions }}
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6
    - id: get-k8s-version
      working-directory: e2e
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        echo "versions=$(make get-k8s-versions)" >> $GITHUB_OUTPUT
  e2e:
    name: End-to-End Tests
    needs: get-k8s-versions
    strategy:
      matrix:
        k8s-version: ${{ fromJson(needs.get-k8s-versions.outputs.k8s-versions) }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ env.go-version }}
    - run: make start KIND_NODE_TAG=${{ matrix.k8s-version }}
      working-directory: e2e
    - run: make test
      working-directory: e2e
  all-e2e-pass:
    name: All e2e test pass
    needs: e2e
    runs-on: ubuntu-latest
    steps:
    - run: exit 0
  dry-run:
    name: Dry-run release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: anchore/sbom-action/download-syft@v0.20.9
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.go-version }}
      - name: Setup latest version tag
        run: |
          echo "GORELEASER_CURRENT_TAG=$(git describe --tags --abbrev=0 --match "v*" || echo v0.0.0)" >> $GITHUB_ENV
      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: --snapshot --skip=sign,publish --clean
      - name: Test built containers
        run: make container-structure-test
